@model AvailabilityViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Member Availability Page";
}

<br />
<br />
<p>Availabilities</p>
<table class = "table table-bordered table-responsive table-hover">
    <tr role="row">
        <th>ID</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <div class="availabilityChart"></div>
 @foreach(ScheduSquad.Models.Availability a in @Model.availabilities)
{
    <tr role="row id=@a.Id">
     <td role="cell"> @a.Id</td> 
     <td role="cell"> @a.DayOfWeek</td> 
     <td role="cell"> @a.StartTime</td>
     <td role="cell"> @a.EndTime</td>
     <div id='editDiv'>
     <td role="cell"><button class="btn btn-primary edit-button" data-availability-id=@a.Id>Edit</button></td>
     </div>
     <td role="cell"><button class="btn btn-primary" type="button" id="deleteButton">Delete</button></td>
     </tr>
}
</div>
</table> 

<p id="editRow">
    <label>This is a test</label>
</p>

<script>
    $(document).ready(function() {
         
            $('.edit-button').click(function () {
                var availId = $(this).data('availability-id');

                alert(availId);
                });
        });

        //Use this code if button is appended in the DOM
        //$(document).on('click', '#editDiv.edit-button', function(){
           // alert("button");
        //});


        
    });
</script>