@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <ul>
        <li>
            Availability -  @Model.AvailabilityServiceTest
        </li>
        <li>
            Member -  @Model.MemberServiceTest
        </li>
        <li>
            Squad -  @Model.SquadServiceTest
        </li>
    </ul>
</p>
<br />
<br />
@foreach(ScheduSquad.Models.Member u in Model.Squad.Members)
{
    <p>@u.FirstName @u.LastName Availability</p>
    <p>
    @foreach(int i in u.GetAllAvailabilityCodes())
    {
        <span>@i</span>
    }
    </p>
}