@model HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div>

    Test 
</div>

<p>
    <ul>
        @* <li>
            Availability -  @Model.AvailabilityServiceTest
        </li>
        <li>
            Member -  @Model.MemberServiceTest
        </li>
        <li>
            Squad -  @Model.SquadServiceTest
        </li> *@
        <li>
            Squad Name-  @Model.squad.Name 
        </li>
        <li>
            Squad Description-  @Model.squad.Description
        </li>
        <li>
            Squad Location-  @Model.squad.Location
        </li>
    </ul>
</p>
<br />
<br />
 @foreach(ScheduSquad.Models.Squad u in @Model.squads)
{
    <p>Squad</p>
    <p>1 @u.Name @u.Description @u.Location</p>
    <p>
     @* @foreach(int i in u.GetAllAvailabilityCodes())
    {
        <span>@i</span>
    } *@
    </p>
} 